* {
    margin: 0;
    padding: 0;
}

.espaciado{
    padding-left: 36px;
    padding-right: 36px;
}

.header1 {
    display: grid;
    grid-template-columns: 60px auto auto;
    grid-template-rows: 60px;
    justify-content: space-between;
    padding-left: 36px;
    padding-right: 36px;

}

.header1 ul {
    display: flex;
    flex-direction: row;

}

.header1 ul li {
    list-style: none;
    padding: 25px;

}

.header1 ul li a {
    color:burlywood;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.portada1{
    display: grid;
    justify-content: start;
    align-items: end;
    align-content: end;
    background-image: url(../img/portada1.jpg);
    height: 1000px;
    max-height: 1000px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
    padding: 30px; 
   
}

.links {
    display: flex;
    flex-direction: row;
    margin: 10px;

}

.links_blanco
{
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 16px;
    text-decoration: none;
    margin: 6px;

}

.link_negro {
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 16px;
    text-decoration: none;
    margin: 6px;

}

.color_blanco {
    color: white;
}

.titulo_destacado {
    font-size: 60px;
}

.portada2{
    display: grid;
    justify-content: start;
    align-items: end;
    align-content: end;
    background-image: url(../img/portada2.jpg);
    height: 1000px;
    max-height: 1000px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
    padding: 30px; 
   
}

section {
    margin-top: 40px;
    margin-bottom: 40px;

}

.portada3{
    display: grid;
    justify-content: start;
    align-items: end;
    align-content: end;
    background-image: url(../img/portada3.jpg);
    height: 1000px;
    max-height: 1000px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
    padding: 30px; 
   
}